@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
*/

/*
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
*/

/*
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
*/
/*
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    
}
:root{
  --fondo: radial-gradient(circle at center, 
    #4d0000 0%,       
    #1a0000 40%,       
    #000000 100%);
  --fondo_nav: linear-gradient(to bottom, 
    #000000 0%,       
    #1a0000 25%,       
    #4d0000 50%,      
    #1a0000 75%,       
    #000000 100%       
  );
    --rojo-sangre: #8b0000;   /* rojo profundo */
    --rojo-centro: #b10000;   /* brillo del centro */
}

body{
    background: var(--fondo);

}
.header{
    position: relative;
    height: 80px;
    background: var(--fondo_nav);
  
}
.header .navbar{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 0 auto;
    width: min(1200px, 100%);
    z-index: 10;
    
}
.icons{
    color: white;
    cursor: pointer;
}
.check_menu:checked + .ul_link{
    height: calc(100vh - 80px);
    
}
.logo{
    background: url(../img/logo.png);
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

#check_menu{
    display: none;
}
.ul_link{
    position: absolute;
    top: 80px;
    height: calc(100vh - 80px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6rem;
    height: 0;
    overflow: hidden;
    left: 0;
    transition: .3s;
    list-style: none;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: .7s;

}
/*------------*/
.cabecera{
    background-color: #4d0000;
    width: 100%;
    height: 600px;
    background: url(../img/01-the-last-breath-key-art.webp);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.cabecera .sombra{
    background-color: rgb(0, 0, 0,.6);
    position: absolute;
    inset: 0;
}
.cabecera .sombra .sombrax2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%; 
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}
.cabecera .sombra .texto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.cabecera .sombra .texto h1{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
    font-size: 3rem;
    max-width: 200px;
}

main{
    position: relative;
    padding-top: 1rem;
    padding-bottom: 4rem;
    z-index: 2;

}
main .capa{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%; /* Puedes ajustar esto */
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    pointer-events: none;
    height: 100px;
}
.sombra1{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;

}
/*---------------*/
main > section > article > .titulo{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1rem;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main section{
    max-width: 360px;
    margin: 1rem;
  

}
/*
linear-gradient(rgba(0,0,0,.55), rgba(0,0,0,.55)),
    radial-gradient(
      circle at 50% 50%,
      var(--rojo-centro) 0%,
      var(--rojo-sangre) 16%,
      #280000 38%,
      #0a0000 62%,
      #000 84%,
      #000 100%
    );
*/
main section article{
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;



    background: rgba(144, 83, 146, 0.151);
  color: #fff;
  text-shadow:
    0 1px 2px rgba(0,0,0,.6),
    0 4px 14px rgba(0,0,0,.55);
  letter-spacing: .5px;     
  line-height: 1.3;   
  border-radius: 25px;    
  transition: .6s;    

    
}
main section article:hover{
    transform: scale(.9);
    background-color: rgba(194, 0, 0, 0.24);
}
main section article .titulo{
    display: flex;
    align-items: center;
    justify-content: center;

}
.titulo img{
    width: 5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media (max-width:450px){
  .ul_link{
      background: radial-gradient(circle at center, 
        #4d0000 0%,        
        #1a0000 40%,      
        #000000 100%       
    );
    }
  .li_link{
    background: linear-gradient(to bottom, #8b0000, #300000); /* Rojo sangre a oscuro */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: all .4s ease;
    }
  .li_link:hover{
        background: linear-gradient(to bottom, #c10000, #4a0000); /* Más brillante al hacer hover */
        box-shadow: 0 6px 16px rgba(255, 0, 0, 0.5); /* Sombra con tinte rojo */
        transform: scale(1.05); /* Efecto de agrandar ligeramente */
  }
}

@media (min-width:450px){
    .labe_menu{
        display: none;
    }
    .ul_link{
        position: static;
        width: auto;
        flex-direction: row;
        height: auto;
        gap: 1rem;
    }

    .link:hover{
      color: red;
    }
}